node_modules/
/.*/
!/.ia.rules/
/.ia.rules/*
!/.ia.rules/state/
/.ia.rules/state/*
!/.ia.rules/state/continue.ia
!/.ia.rules/state/TODO.ia.md
!/.ia.rules/state/contexts/
!/.ia.rules/state/contexts/**
!/.vscode
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.agents/
*.psd
*.ai
*.zip
*.7z
tmp/
/build/
/.egw-state/
/src/egw/
/dist/

0. Autoriza .md em ./.agents/
/.agents/*
!/.agents/continue.ia
!/.agents/continue.dev
!/.agents/*.md
!/.agents/**/*.md
